* {
  margin: 0;
  padding: 0;
} /* to remove the top and left whitespace */

html,
body {
  width: 100%;
  height: 100%;
} /* just to be sure these are full screen*/

.top-green {
  font-size: 0.9rem;
  color: white;
  height: 36px;
  background-color: green;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.p-title {
  padding-top: 12px;
  padding-left: 60px;
  display: inline-block;
}

.right-info {
  float: right;
  padding-left: 45%;
}

.address-shop {
  color: white;
  padding-right: 4px;
}

.time:hover,
.address-shop:hover {
  text-decoration: none;
  color: red;
}

.time {
  color: white;
  padding-left: 12px;
  padding-right: 4px;
}

.phone {
  padding-left: 12px;
}
.white-space {
  opacity: 40%;
  background-color: white;
  height: 16px;
  width: 0.1px;
  margin-top: 4px;
  display: inline-block;
  position: absolute;
}

#logo {
  width: 100px;
  height: 50px;
}

.navbar-product {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.icon-search {
  width: 54px;
  font-size: 22px;
}

/* .auto-text-run {
  margin-top: 1%;
  width: 100%;
} */

marquee {
  margin-bottom: 10%;
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  color: green;
}

.slide-content {
  margin-top: 142px;
  right: 0;
  left: 0;
}

.slide-content p {
  font-size: 2rem;
}

.btn-slide {
  width: 100px;
  height: 50px;
  background-color: chartreuse;
  border: none;
  border: 2px solid orange;
  color: black;
}

.btn-slide:hover {
  color: red;
  opacity: 40%;
}

.card-footer a:hover {
  text-decoration: none;
  opacity: 40%;
}

.select-btn-fruit {
  margin-right: 36px;
}
.select-btn-fruit ul {
  list-style-type: none;
  overflow: hidden;
}

.select-btn-fruit ul li {
  display: inline-block;
}

.btn-select {
  border: none;
  border: 2px solid #003300;
  border-radius: 10%;
  width: 70px;
  height: 50px;
  margin: 0 0 14px 14px;
}

.btn-select:hover {
  background-color: yellowgreen;
}

.card-footer h4 {
  font-size: 17px;
}

.btn-see-more {
  border: none;
  background-color: green;
  margin-left: 45%;
  width: 140px;
  height: 40px;
}

.btn-see-more a {
  text-decoration: none;
  color: white;
}

.btn-see-more:hover {
  opacity: 30%;
  color: black;
}

#img-bg-fruit {
  width: 100%;
  height: 180px;
}

.choice-product {
  width: 100%;
  height: 400px;
}

.form-check-email {
  margin-left: 5px;
  padding-top: 20px;
}

img:hover {
  transform: scale(1.3);
}

.comment-customer {
  background-color: greenyellow;
  width: 100%;
  height: 200px;
}

.img-comment {
  border-radius: 100%;
}

.footer-bg {
  background-image: url(../Images/anh-background-den.jpg);
  background-size: 40%;
  width: 100%;
  height: 500px;
}

.footer p {
  color: #fff;
  font-size: 1.2rem;
}

.footer a:hover {
  text-decoration: none;
}

/* Nút Để Mở Chatbox */
.nut-mo-chatbox {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 100px;
  border-radius: 40px;
}
/* Ẩn chatbox mặc định */
.Chatbox {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
/* Thêm style cho form */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
/* thiết lập style textarea */
.form-container textarea {
  width: 100%;
  padding: 55px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 100px;
}
/*thiết lập style cho textarea khi được focus */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}
/* Thiết lập style cho nút trong form*/
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
} /* Thiết lập màu nền cho nút đóng chatbox */
.form-container .nut-dong-chatbox {
  background-color: red;
}

.form-container h1 {
  font-size: 1.5rem;
}
/* Thêm hiệu ứng hover cho nút*/
.form-container .btn:hover,
.nut-mo-chatbox:hover {
  opacity: 1;
}

.icon-chat {
  font-size: 160%;
}

.icon-chatbox {
  font-size: 140%;
  padding-right: 10%;
}

.backgroundheader {
  margin-top: 10%;
}

.img-company {
  width: 100%;
  height: 90%;
}

.text-gift {
  margin-left: 6%;
}

.icon-gift {
  color: red;
  font-size: 120%;
  margin-right: 2%;
}

.icon-good {
  color: green;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 120%;
}

.icon-tranfer {
  color: palevioletred;
  margin-left: 1%;
}

.img-import {
  width: 100%;
  height: 300px;
}

.img-global {
  width: 100%;
  height: 300px;
}

.text-km {
  margin-top: 10%;
}

.sub-banner {
  margin-top: 10%;
}

.img-sub-banner {
  height: 200px;
  width: 100%;
}

.container-chinhsach {
  padding-top: 5%;
}

.border-dark {
  padding: 0 0 6% 6%;
}

.container-ds-san-pham {
  margin-top: 10%;
}

.container-gio-hang {
  margin-top: 10%;
}

.div-tintuc {
  margin-top: 10%;
}

.sign-in-up {
  position: absolute;
  margin-top: 1%;
  margin-left: 30%;
}

.sign-in-up ul {
  list-style-type: none;
}

.sign-in-up li {
  display: inline-block;
}



.sign-in:hover,
.sign-up:hover {
  color: red;
  cursor: pointer;
}



